# Configuration files
config.py

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
*~

# IDE files
.project
.settings
*.pydevproject
.tmproj
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools
.idea/
*.nja

# Temporal files
tmp/*
*.json
*.log
*.pyc
.cache
